<div class="container">
  <div class="card-body">
    <h5 class="card-title">{{ titulo }}</h5>
    <form>
      <div class="form-group row">
        <label for="nombres" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="nombres"
            [(ngModel)]="cliente.nombre"
          />
        </div>
        <div class="form-group row"></div>
        <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="apellidos"
            [(ngModel)]="cliente.apellido"
          />
        </div>
        <div class="form-group row"></div>
        <label for="direccion" class="col-form-label col-sm-2">Dirección</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="direccion"
            [(ngModel)]="cliente.direccion"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="fecha" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            name="fecha"
            [(ngModel)]="cliente.fechaNacimiento"
          />
        </div>
        <div class="form-group row">
          <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              name="telefono"
              [(ngModel)]="cliente.telefono"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-form-label col-sm-2">Email</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="cliente.email"
            />
          </div>
        </div>
      </div>
      <button class="btn btn-success" role="button" (click)='create()' > Registrar</button>
    </form>
  </div>
</div>
